@keyframes chris {
    from {background-color: ghostwhite;
    color: black;}
    to {background-color: cornflowerblue;
    color: white;}
}

button:hover {
    animation-name: chris;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
